<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644286694708-1u5mnctubmhr1vb77pheerf1hes9j19p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644286694708-1u5mnctubmhr1vb77pheerf1hes9j19p</string>
	<key>API_KEY</key>
	<string>AIzaSyAiY5bMassxZCUg6q8womtpC0b5BVEvV1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>644286694708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.vinpong</string>
	<key>PROJECT_ID</key>
	<string>vinpong-6d550</string>
	<key>STORAGE_BUCKET</key>
	<string>vinpong-6d550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644286694708:ios:fd32cd623368cf7deb1161</string>
</dict>
</plist>